# String operations using " np.char. " package

In [11]:
import numpy as np

In [12]:
fname = "Shubham "
lname = "Kumar "

np.char.add(fname,lname)

array('Shubham Kumar ', dtype='<U14')

In [13]:
np.char.multiply(fname,5)

array('Shubham Shubham Shubham Shubham Shubham ', dtype='<U40')

In [14]:
np.char.multiply(lname,3)

array('Kumar Kumar Kumar ', dtype='<U18')

In [15]:
np.char.lower(fname)

array('shubham ', dtype='<U8')

In [16]:
np.char.upper(lname)

array('KUMAR ', dtype='<U6')

In [17]:
np.char.center(fname,50)

array('                     Shubham                      ', dtype='<U50')

In [19]:
np.char.center(lname,50, fillchar="*")

array('**********************Kumar **********************', dtype='<U50')

In [22]:
str1= "My Name is Shubham Kumar"

In [23]:
np.char.split(str1)

array(list(['My', 'Name', 'is', 'Shubham', 'Kumar']), dtype=object)

In [50]:
str2 = "My first name is Shubham \n My last name is Kumar"

In [51]:
np.char.splitlines(str2)

array(list(['My first name is Shubham ', ' My last name is Kumar']),
      dtype=object)

In [52]:
str3 = "dmy"
str4 = "dmy"

In [53]:
np.char.join([":","/"], [str3,str4])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [54]:
str5 = "AI & ML"

In [55]:
np.char.replace(str5, "AI", "Artificial Intelligence" )

array('Artificial Intelligence & ML', dtype='<U28')

In [56]:
np.char.replace(str5, "ML", "Machine Learning")

array('AI & Machine Learning', dtype='<U21')

In [57]:
np.char.equal(str3,str4)

array(True)

In [58]:
np.char.count(str1,"m")

array(3)

In [59]:
np.char.count(str2,"a")

array(5)

In [60]:
np.char.find(str1,"f")

array(-1)

In [61]:
np.char.find(str1,"s")

array(9)