# Pandas "Series" Basic operation such as creation of series using list, dictionary

In [1]:
import pandas as pd

In [3]:
#Check pandas version

pd.__version__

'1.0.5'

In [58]:
#Creating a list

list = [1,2,-3,6.2,'data values']
print(list)

[1, 2, -3, 6.2, 'data values']

In [59]:
#Creating a Series from a list

series1 = pd.Series(list)

In [60]:
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [61]:
type(series1)

pandas.core.series.Series

In [10]:
series2 = pd.Series([1,2,3,4,5,6,7,8,9])

In [11]:
print(series2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [63]:
#Creating empty series

empty_list = pd.Series([])
print(empty_list)


type(empty_list)

Series([], dtype: float64)

<ipython-input-63-216bdd3ce8cf>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_list = pd.Series([])

pandas.core.series.Series

In [64]:
#Using various parameters of series..... ie, index, dtype, name 

series3 = pd.Series([1,2,3,4,5,6,7], index = ['a','b','c','d','e','f','g'], dtype=float, name = "Series3")

In [65]:
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
Name: Series3, dtype: float64

In [66]:
#Creating a single valued series or a scaler series

scaler = pd.Series(5)

In [67]:
print(scaler)

0    5
dtype: int64

In [68]:
#Copying same values to all the indexes of the series

scaler = pd.Series(0.5 , index = [1,2,3])

In [69]:
print(scaler)

1    0.5
2    0.5
3    0.5
dtype: float64

In [70]:
#creating series from a dictionary

dict1 = pd.Series({"a":1, "b":2})

In [71]:
print(dict1)

a    1
b    2
dtype: int64

# indexing and slicing of series

In [72]:
series4 = pd.Series([11,22,33,44,55,66,77])

In [73]:
print(series4)

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int64

In [74]:
series4[0]

11

In [75]:
series4[1:4]

1    22
2    33
3    44
dtype: int64

In [76]:
series4.max()

77

In [77]:
series4.min()

11

In [78]:
series4.mean()

44.0

In [79]:
series4.sum()

308

In [80]:
series4[series4 > 50]

4    55
5    66
6    77
dtype: int64

# Performing arithematic operations on series of equal length

In [81]:
series5 = pd.Series([99,88,77,66,55,44,33])

In [82]:
print(series5)

0    99
1    88
2    77
3    66
4    55
5    44
6    33
dtype: int64

In [83]:
series4 + series5

0    110
1    110
2    110
3    110
4    110
5    110
6    110
dtype: int64

In [84]:
series4 - series5

0   -88
1   -66
2   -44
3   -22
4     0
5    22
6    44
dtype: int64

In [85]:
series4 * series5

0    1089
1    1936
2    2541
3    2904
4    3025
5    2904
6    2541
dtype: int64

In [52]:
series4 / series5

0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
5    1.500000
6    2.333333
dtype: float64

# Performing arithematic operations on series of unequal length

In [53]:
series6 = pd.Series([1,2,3,4,5,6,7])

In [54]:
print(series6)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [55]:
series7 = pd.Series([1,2,3,4,5,6,7,8,9])

In [56]:
print(series7)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [86]:
#if series is having unequal length then it gives NaN values ie, Not a Number

series6 + series7

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5    12.0
6    14.0
7     NaN
8     NaN
dtype: float64