# Handling Missing values of a file in Python (Part 1):

In [11]:
import pandas as pd

# Syntax======>>>>

###### pandas.read_csv(filepath_or_buffer, sep=', ', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)

In [12]:
df = pd.read_csv("Fortune_10.csv")
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Missing Values
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,not available
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,NaN
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,no values
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,NaN
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

# Checking Null "NaN" values:

In [13]:
df = pd.read_csv("Fortune_10.csv", na_values = "not available")
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Missing Values
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,NaN
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,NaN
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,no values
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,NaN
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [14]:
df = pd.read_csv("Fortune_10.csv", na_values = ["not available","no values"])
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Missing Values
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,NaN
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,NaN
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,NaN
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,NaN
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [16]:
df = pd.read_csv("Fortune_10.csv")
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Missing Values
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,not available
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,NaN
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,no values
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",no value,11901180,18%,NaN
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [18]:
df = pd.read_csv("Fortune_10.csv", na_values = {"Missing Values":"not available", "Expenses":"no value"})
df

,ID,Confirmation,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Missing Values
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,NaN
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,NaN
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,no values
7,8,No,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,NaN
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes