# Pandas "DataFrame" Basic operation such as creation of DataFrame uding list, dictionary, Series

In [1]:
import pandas as pd

In [2]:
#Creating empty DataFrame

empty_dataframe = pd.DataFrame([])
print(empty_dataframe)

Empty DataFrame
Columns: []
Index: []

# Creating DataFrame using Lists, nested lists:

In [3]:
list = ["a","b","c","d"]
print(list)

['a', 'b', 'c', 'd']

In [4]:
df1 = pd.DataFrame(list)

In [5]:
print(df1)

   0
0  a
1  b
2  c
3  d

In [6]:
ls_of_ls = [[1,2,3],[4,5,6],[7,8,9]]

In [7]:
print(ls_of_ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
df2 = pd.DataFrame(ls_of_ls)

In [9]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Creating DataFrame using Dictionary of Lists:

In [10]:
dict1 = {"SL No":[1,2,3,4], "Name":["Shubham","Shivam","Shreya","Sajid"], "Roll":[149,147,148,150], "Marks":[88,67,92,55]}

In [11]:
print(dict1)

{'SL No': [1, 2, 3, 4], 'Name': ['Shubham', 'Shivam', 'Shreya', 'Sajid'], 'Roll': [149, 147, 148, 150], 'Marks': [88, 67, 92, 55]}

In [12]:
df3 = pd.DataFrame(dict1)

In [13]:
df3

   SL No     Name  Roll  Marks
0      1  Shubham   149     88
1      2   Shivam   147     67
2      3   Shreya   148     92
3      4    Sajid   150     55

In [14]:
#if dictionary has equal key value pairs

ls_dict1 = [{"a":1,"b":2,"c":3,"d":4}, {"a":9,"b":8,"c":7,"d":6}]

In [15]:
ls_dict1

[{'a': 1, 'b': 2, 'c': 3, 'd': 4}, {'a': 9, 'b': 8, 'c': 7, 'd': 6}]

In [16]:
df4 = pd.DataFrame(ls_dict1)

In [17]:
df4

   a  b  c  d
0  1  2  3  4
1  9  8  7  6

In [18]:
#if dictionary has unequal key value pairs

ls_dict2 = [{"a":1,"b":2},{"c":3,"d":4},{"e":5,"f":6}]

In [19]:
ls_dict2

[{'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6}]

In [20]:
df5 = pd.DataFrame(ls_dict2)

In [21]:
df5

     a    b    c    d    e    f
0  1.0  2.0  NaN  NaN  NaN  NaN
1  NaN  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  NaN  5.0  6.0

# Creating DataFrame using Dictionary of Series:

In [22]:
dict_sr = {"ID":pd.Series([1,2,3,4]), "Name":pd.Series(["Shubham","Shivam","Shreya","Sajid"])}

In [23]:
df6 = pd.DataFrame(dict_sr)

In [24]:
df6

   ID     Name
0   1  Shubham
1   2   Shivam
2   3   Shreya
3   4    Sajid