1). Second Maximum
    The marks of Ranu are given in N subjects and you have to tell him the second maximum marks he has got. Marks may or may not duplicate Print the second maximum marks Ranu has got.
    Note: 1). Solve using appropriate inbuilt Function
	  2). Solve without using any inbuilt in function
	
    Input Format:

	The first line of input consist of number of subjects, N.
	The second line of input consist of N separated marks.
	
    *Sample TestCase *

	input

	5
	3 9 9 5 4

	Output

	5

In [61]:
def second_maximum(lst):
    n = len(lst)
    max = 0
    if(lst[0] > lst[1]):
        max = lst[0]
        sec_max = lst[1]
    
    for i in range(2, n):
        if(lst[i] > max):
            sec_max = max
            max = lst[i]
            
        elif (lst[i] > sec_max and lst[i] != max):
            sec_max = lst[i]
        
    print("2nd max element",sec_max)
    
    
N = int(input(print("Number of subjects:")))
marks = list(input())

second_maximum(marks)

Number of subjects:
None5
3 5 9 9 4
2nd max element 5

2). Class Record
	You are given a dataset of N students belonging to the same class.
	The data contains name of the student followed by marks they scored in five subjects which are Physics, Chemsistry, Maths, English, Hindi.
	Your task is find the average marks of the class for each individual subject.

	Output Format
	You have to print average marks upto two decimal places for each subject followed by a space.

	Sample Testcase:
	input:
		2
		arpit 100 75 40 56 53
		anushka 100 100 76 100 100

	Output
		100.00 87.50 58.00 78.00 76.50

In [5]:
def average(dict1,dict2):
    avg_list = []
    for key1,value1 in dict1.items():
        for key2,value2 in dict2.items():
            if(key1 == key2):
                if(type(value1) == int):
                    sum = value1 + value2
                    avg = sum / 2
                    avg_list.append(avg)
    print(avg_list)
                

stud1 = {"Name" : "Arpit",
         "Physics" : 100,
         "Chemistry" : 75,
         "Maths" : 40,
         "English" : 56,
         "Hindi" : 53 }

stud2 = {"Name" : "Anushka",
         "Physics" : 100,
         "Chemistry" : 100,
         "Maths" : 76,
         "English" : 100,
         "Hindi" : 100 }

average(stud1,stud2)

[100.0, 87.5, 58.0, 78.0, 76.5]

3). Second Highest
	There are a total N students present in today's class. You are given student names and their respective height (in cms). You have to find names of all the second highest students (according to their heights). If there are multiple students , print each name on new line Print name of all the students having second highest height in alphabetical order.
	Input Format
	First line will contain an Integer N, denoting the number of students. Next 2 * N lines contains description of each student. first line contains name of the student and second line contains height of the student. Sample TestCase

	Input:
		4
		saurabh
		102
		arpit
		120
		aditya
		102
		varun
		101

	Output

		aditya
		saurabh